.pheader {
    margin-top: 30px;
    text-align: center;
    border-bottom: solid 1px grey;
}

.pheader ul{
    margin-bottom: 15px;
    list-style: none;
    padding: 0px;
}
.pheader ul li{
    display: inline-block;
    margin-right: 30px;
}
.pheader ul li a{
    text-decoration: none;
    color: black;
}