#admin{
    display: flex;
}
.AHeader{
    text-align: center;
    line-height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
}
.AHeader button{
    width: auto;
    font-size: 13px;
    height: fit-content;
    margin-top: 15px;
    margin-right: 15px;
}
.SideMenu{
    flex-grow: 1;
    border-right: solid 1px grey;
}
#admin_body{
    flex-grow: 6;
    padding-left: 15px;
}

/* ------------------------------------------------------------------------- */

.SideMenu ul{
    list-style: none;
}
.SideMenu ul li a{
    text-decoration: none;
    color: black;
}